/*
$navbar-default-color:                     #f8f8f8;
$navbar-default-bg:                        #777;

$navbar-default-link-color:                #e6e6e6;
$navbar-default-link-active-color:         #555;
$navbar-default-link-disabled-color:       #ccc;*/

$navbar-default-bg:                transparentize(#ffffff, 0.85);